{% extends 'includes/base.html' %}
{% block head %}
<title>Tatkal World | Trusted Software Provider </title>
<meta name="description" content="A powerful and conceptual webapplication for authenticate irctc mobile verification via otp.">

{% endblock %}
{% block content%}
<div class="ps-page--notfound mb-100">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
            <li class="ps-breadcrumb__item active" aria-current="page">404</li>
        </ul>
        <div class="ps-page__content">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5"><img src="img/cartoon-doctor.jpg" alt="cartoon-doctor"></div>
                <div class="col-12 col-md-6 col-lg-7">
                    <h1 class="ps-page__name">404</h1>
                    <h5>This page has been probably moved somewhere...</h5>
                    <p>Please back to homepage or check our offer</p>
                    <div><a class="ps-btn ps-btn--primary" href="/">Back to homepage</a></div>
                </div>
            </div>
        </div>
    </div>
  
</div>
{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}
