{% extends 'includes/base.html' %}
{% block head %}
<title>Tatkal World | Trusted Software Provider </title>
<meta name="description" content="A powerful and conceptual webapplication for authenticate irctc mobile verification via otp.">

{% endblock %}
{% block content%}
{% csrf_token %}
<div class="ps-about">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="/">Home</a></li>
            <li class="ps-breadcrumb__item active" aria-current="page">About us</li>
        </ul>
        <section class="ps-banner--round">
            <div class="ps-banner">
                <div class="ps-banner__block">
                    <div class="ps-banner__content">
                        <div class="ps-logo"><a href="/"> <img src="/static/img/logo.png" alt=""></a></div>
                        <h2 class="ps-banner__title">Your Trusted Tatkal <br> Software Solution Provider</h2>
                        <div class="ps-banner__btn-group">
                            <div class="ps-banner__btn"><img src="/static/img/icon/trusted.png" alt="">Trusted Service</div>
                            <div class="ps-banner__btn"><img src="/static/img/icon/ribbon.svg" alt="">Tested Software Solutions</div>
                        </div>
                    </div>
                    <div class="ps-banner__thumnail"><img class="ps-banner__round" src="/static/img/round5.png" alt=""><img class="ps-banner__image" src="/static/img/girl-face-mask.png" alt=""></div>
                </div>
            </div>
        </section>
        <section class="ps-about--info mt-50">
            <h2 class="ps-about__title">Simplifying Railway Ticket <br> Booking Solutions</h2>
            <p class="ps-about__subtitle">Your Trusted Partner for Effortless Tatkal Ticket Booking Solutions and Software.</p>
            <div class="ps-about__extent">
                <div class="row m-0">
                    <div class="col-12 col-md-4 p-0">
                        <div class="ps-block--about">
                            <div class="ps-block__icon"><img src="/static/img/icon/tatkal.png" alt=""></div>
                            <h4 class="ps-block__title">Fast Tatkal Bookings Software</h4>
                            <div class="ps-block__subtitle"> Rapid, automated ticket reservations for seamless travel planning.</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-0">
                        <div class="ps-block--about">
                            <div class="ps-block__icon"><img src="/static/img/icon/server.png" alt=""></div>
                            <h4 class="ps-block__title">Reliable VPS Integration</h4>
                            <div class="ps-block__subtitle"> Robust Virtual Private Server support ensures uninterrupted Tatkal software performance.</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-0">
                        <div class="ps-block--about">
                            <div class="ps-block__icon"><img src="/static/img/icon/userid.png" alt=""></div>
                            <h4 class="ps-block__title">Verified IRCTC ID </h4>
                            <div class="ps-block__subtitle">Safeguarded IRCTC ID handling for trustworthy and secure ticket transactions.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="ps-about__content mt-50">
        <section class="ps-about__banner" data-background="/static/img/Mask-Group.jpg" style="background-image: url(&quot;/static/img/Mask-Group.jpg&quot;);">
            <div class="container">
                <div class="ps-banner">
                    <h2 class="ps-banner__title">Premier Tatkal Software & IRCTC ID Services at Unbeatable Prices</h2>
                    <div class="ps-banner__desc">CUnlock exclusive discounts on the most reliable Tatkal software and secure IRCTC ID solutions.</div><a class="ps-banner__shop" href="/products/">Shop now</a>
                </div>
            </div>
        </section>
        <section class="ps-about__project">
            <div class="container">
                <h2 class="ps-about__title">Your home medical provider now also online</h2>
                <section class="ps-section--block-grid">
                    <div class="ps-section__thumbnail"> <a class="ps-section__image" href="#"><img src="/static/img/about/about-us-1.jpg" alt=""></a></div>
                    <div class="ps-section__content">
                        <h3 class="ps-section__title">QuickTicket Suite: Easy Tatkal Booking Solutions</h3>
                        <div class="ps-section__subtitle">Trending 2023 tatkal software</div>
                        <div class="ps-section__desc">Make booking tickets a breeze with our user-friendly QuickTicket Suite. Enjoy speedy bookings, smooth VPS integration, and secure IRCTC ID management.</div>
                        <ul class="ps-section__list">
                            <li>Fast Tatkal bookings.</li>
                            <li>24x7 Customer Support</li>
                            <li>Updated softwares</li>
                        </ul>
                    </div>
                </section>
                <section class="ps-section--block-grid row-reverse">
                    <div class="ps-section__thumbnail"> <a class="ps-section__image" href="#"><img src="/static/img/about/about-us-2.jpg" alt=""></a></div>
                    <div class="ps-section__content">
                        <h3 class="ps-section__title">Your Cloud Choices: Linux, Windows, AWS, Linode Hosting Solutions</h3>
                        <div class="ps-section__subtitle">99.9% Uptime Servers</div>
                        <div class="ps-section__desc">Explore reliable VPS options – Linux, Windows, AWS, and Linode. Enjoy easy setups, scalable performance, and secure hosting tailored to your needs.</div>
                        <ul class="ps-section__list">
                            <li>PSimple setup for hassle-free hosting.</li>
                            <li>Scalable performance to meet your growing needs.</li>
                            <li>Secure hosting ensures your data stays safe.</li>
                        </ul>
                    </div>
                </section>
                <section class="ps-section--block-grid">
                    <div class="ps-section__thumbnail"> <a class="ps-section__image" href="#"><img src="/static/img/about/about-us-3.jpg" alt=""></a></div>
                    <div class="ps-section__content">
                        <h3 class="ps-section__title">Verified IRCTC IDs: Email Verified, Replacement Guarantee</h3>
                        <div class="ps-section__subtitle">100% User-Generated ID</div>
                        <div class="ps-section__desc">Access trustworthy IRCTC IDs with user-generated profiles, email verification, and replacement assurance. Simplify your ticketing experience with reliable and secure identification.</div>
                        <ul class="ps-section__list">
                            <li>User-generated profiles for personalized IRCTC IDs.</li>
                            <li>Email & Full verification adds userid.</li>
                            <li>Replacement guarantee ensures peace of mind for your transactions.</li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        
        <section class="ps-section--reviews" data-background="/static/img/roundbg.png" style="background-image: url(&quot;/static/img/roundbg.png&quot;);">
            <h3 class="ps-section__title"> <img src="/static/img/quote-icon.png" alt="">Latest reviews</h3>
            <div class="ps-section__content">
                <div class="owl-carousel owl-loaded owl-drag" data-owl-auto="false" data-owl-loop="true" data-owl-speed="13000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="5" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="3" data-owl-item-lg="5" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
                    
                    
                    
                    
                    
                    
                    
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2800px, 0px, 0px); transition: all 0s ease 0s; width: 9520px;"><div class="owl-item cloned" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Saves time and hassle-free booking! Thanks to Tatkalworld, my travel plans are smoother than ever.</div>
                        <div class="ps-review__name">Raj Kumar</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Reliable and fast! Windows VPS from Tatkalworld ensures my online activities run seamlessly. Highly recommended!</div>
                        <div class="ps-review__name">Anita Sharma</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Outstanding service! Linux VPS bought from Tatkalworld gives me the flexibility and control I need for my projects.</div>
                        <div class="ps-review__name">Amit Patel</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Got my IRCTC email-verified ID - smooth, secure transactions. Highly recommend!</div>
                        <div class="ps-review__name">Neha Gupta</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Full verified IRCTC ID from Tatkalworld is a game-changer. Peace of mind guaranteed!</div>
                        <div class="ps-review__name">Kumar Singh</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Tatkalworld's services are top-notch. Bought Tatkal software, and it's a time-saver!</div>
                        <div class="ps-review__name">Anita Reddy</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Windows VPS from Tatkalworld - reliable, affordable, and excellent customer support.</div>
                        <div class="ps-review__name">Junaid Ali</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">IRCTC email-verified ID bought through Tatkalworld - hassle-free booking, secure transactions.</div>
                        <div class="ps-review__name">Rahul Tiwari</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Tatkal software by Tatkalworld is a must-have. Quick, efficient, and worth every penny.</div>
                        <div class="ps-review__name">Nisha Singh</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Full verified IRCTC ID from Tatkalworld - genuine, secure, and trustworthy service.</div>
                        <div class="ps-review__name">B Rajat Bansal</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Bought Tatkal software - a game-changer for quick and stress-free ticket bookings.</div>
                        <div class="ps-review__name">Krishna Singh</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">RCTC full verified ID - reliable and secure, bought through Tatkalworld. No hassles, only convenience!</div>
                        <div class="ps-review__name">Arun Khanna</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Tatkal software from Tatkalworld made my bookings a breeze, fast and reliable!</div>
                        <div class="ps-review__name">Rajesh Gupta</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Windows VPS - seamless performance, perfect for my business needs. Great investment!</div>
                        <div class="ps-review__name">Neha Sharma</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Linux VPS by Tatkalworld - easy setup, smooth performance. Happy customer!</div>
                        <div class="ps-review__name">Ankit Kumar</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Highly recommended! Windows VPS from Tatkalworld ensures fast and reliable hosting for my websites.</div>
                        <div class="ps-review__name">Nitin Yadav</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 560px;"><div class="ps-review">
                        <div class="ps-review__text">Efficiency at its best! Tatkalworld's software simplifies the complex process of Tatkal ticket booking effortlessly.</div>
                        <div class="ps-review__name">Kareem Khan</div>
                        <div class="ps-review__review">
                            <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" data-read-only="true" style="display: none;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" selected="selected">4</option>
                                <option value="5">5</option>
                            </select></div>
                        </div>
                    </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
            </div>
        </section>
    </div>
    <div class="container">
        <section class="ps-section--blog">
            <h3 class="ps-section__title">From the blog</h3>
            <div class="ps-section__carousel">
                <div class="owl-carousel owl-loaded owl-drag" data-owl-auto="false" data-owl-loop="true" data-owl-speed="13000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="3" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="2" data-owl-item-lg="3" data-owl-item-xl="3" data-owl-duration="1000" data-owl-mousedrag="on">
                    
                    
                    
                    
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1269px, 0px, 0px); transition: all 0s ease 0s; width: 4234px;"><div class="owl-item cloned" style="width: 423.333px;"><div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img src="/static/img/blog/blog11-496x262.jpg" alt="alt"></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a class="ps-blog__author" href="#">Alfredo Austin</a></div><a class="ps-blog__title" href="blog-post1.html">The latest tests of popular masks in accordance with CV2s standards</a>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 423.333px;"><div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img src="/static/img/blog/blog13-496x262.jpg" alt="alt"></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a class="ps-blog__author" href="#">Alfredo Austin</a></div><a class="ps-blog__title" href="blog-post1.html">The latest tests of popular masks in accordance with CV2s standards</a>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 423.333px;"><div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img src="/static/img/blog/blog12-496x262.jpg" alt="alt"></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a class="ps-blog__author" href="#">Alfredo Austin</a></div><a class="ps-blog__title" href="blog-post1.html">New special offer for customers who have been with us for 10 years</a>
                            </div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 423.333px;"><div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img src="/static/img/blog/blog2-496x262.jpg" alt="alt"></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a class="ps-blog__author" href="#">Alfredo Austin</a></div><a class="ps-blog__title" href="blog-post1.html">[PDF REPORT] – Impact of wearing masks on social behavior</a>
                            </div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 423.333px;"><div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img src="/static/img/blog/blog11-496x262.jpg" alt="alt"></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a class="ps-blog__author" href="#">Alfredo Austin</a></div><a class="ps-blog__title" href="blog-post1.html">The latest tests of popular masks in accordance with CV2s standards</a>
                            </div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 423.333px;"><div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img src="/static/img/blog/blog13-496x262.jpg" alt="alt"></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a class="ps-blog__author" href="#">Alfredo Austin</a></div><a class="ps-blog__title" href="blog-post1.html">The latest tests of popular masks in accordance with CV2s standards</a>
                            </div>
                        </div>
                    </div></div><div class="owl-item" style="width: 423.333px;"><div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img src="/static/img/blog/blog12-496x262.jpg" alt="alt"></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a class="ps-blog__author" href="#">Alfredo Austin</a></div><a class="ps-blog__title" href="blog-post1.html">New special offer for customers who have been with us for 10 years</a>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 423.333px;"><div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img src="/static/img/blog/blog2-496x262.jpg" alt="alt"></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a class="ps-blog__author" href="#">Alfredo Austin</a></div><a class="ps-blog__title" href="blog-post1.html">[PDF REPORT] – Impact of wearing masks on social behavior</a>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 423.333px;"><div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img src="/static/img/blog/blog11-496x262.jpg" alt="alt"></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a class="ps-blog__author" href="#">Alfredo Austin</a></div><a class="ps-blog__title" href="blog-post1.html">The latest tests of popular masks in accordance with CV2s standards</a>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 423.333px;"><div class="ps-section__item">
                        <div class="ps-blog--latset">
                            <div class="ps-blog__thumbnail"><a href="blog-post1.html"><img src="/static/img/blog/blog13-496x262.jpg" alt="alt"></a>
                                <div class="ps-blog__badge"><span class="ps-badge__item">MEDIC</span><span class="ps-badge__item">PHARMACY</span><span class="ps-badge__item">SALE</span>
                                </div>
                            </div>
                            <div class="ps-blog__content">
                                <div class="ps-blog__meta"> <span class="ps-blog__date">May 18, 2021</span><a class="ps-blog__author" href="#">Alfredo Austin</a></div><a class="ps-blog__title" href="blog-post1.html">The latest tests of popular masks in accordance with CV2s standards</a>
                            </div>
                        </div>
                    </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
            </div>
        </section>
        <section class="ps-section--newsletter" data-background="/static/img/newsletter-bg.jpg" style="background-image: url(&quot;/static/img/newsletter-bg.jpg&quot;);">
            <h3 class="ps-section__title">Join our newsletter and get <br>$20 discount for your first order</h3>
            <div class="ps-section__content">
                <form action="do_action" method="post">
                    <div class="ps-form--subscribe">
                        <div class="ps-form__control">
                            <input class="form-control ps-input" type="email" placeholder="Enter your email address">
                            <button class="ps-btn ps-btn--warning">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}
