{% extends 'includes/base.html' %}
{% block head %}
<title>Tatkal World | Trusted Software Provider </title>
<meta name="description" content="A powerful and conceptual webapplication for authenticate irctc mobile verification via otp.">

{% endblock %}
{% block content%}
<div class="ps-account">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="ps-form--review">
                        <h2 class="ps-form__title">Login</h2>
                        <div class="ps-form__group">
                            <label class="ps-form__label">Username *</label>
                            <input class="form-control" type="text" name="username" placeholder="Username">
                        </div>
                      
                        <div class="ps-form__group">
                            <label class="ps-form__label">Password *</label>
                            <div class="input-group">
                                <input class="form-control" type="password" name="password" placeholder="Password">
                                <div class="input-group-append"><a class="fa fa-eye-slash toogle-password" href="javascript: vois(0);"></a></div>
                            </div>
                            
                        </div>
                        <div class="ps-form__submit">
                            <button class="ps-btn ps-btn--warning">Log in</button>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember">
                                <label class="form-check-label" for="remember">Remember me</label>
                            </div>
                        </div><a class="ps-account__link" href="lost-password.html">Lost your password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block contentScript %}
{% comment %} my script here {% endcomment %}
{% endblock%}
