{% extends 'includes/base.html' %}
{% block head %}
<title>Tatkal World | Trusted Software Provider </title>
<meta name="description" content="A powerful and conceptual webapplication for authenticate irctc mobile verification via otp.">

{% endblock %}
{% block content%}
{% csrf_token %}
<div class="ps-categogy">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
            <li class="ps-breadcrumb__item"><a href="index.html">Shop</a></li>
            <li class="ps-breadcrumb__item active" aria-current="page">Diagnosis</li>
        </ul>
        <h1 class="ps-categogy__name">Diagnosis<sup>(32)</sup></h1>
        <div class="ps-categogy__content">
            <div class="row row-reverse">
                <div class="col-12 col-md-9">
                   
                    <div class="ps-categogy__wrapper">
                        <div class="ps-categogy__type"> <a href="category-list.html"><img src="/static/img/icon/bars.svg" alt=""></a><a href="category-grid-detail.html"><img src="/static/img/icon/gird2.svg" alt=""></a><a class="active" href="category-grid.html"><img src="/static/img/icon/gird3.svg" alt=""></a><a href="category-grid-separate.html"><img src="/static/img/icon/gird4.svg" alt=""></a></div>
                        <div class="ps-categogy__onsale">
                            <form>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="onSaleProduct">
                                    <label class="custom-control-label" for="onSaleProduct">Show only products on sale</label>
                                </div>
                            </form>
                        </div>
                        <div class="ps-categogy__sort">
                            <form>
                                <span>Sort by</span>
                                <select class="form-select" id="sort-select">
                                    <option value="NEW">New</option>
                                    <option value="SALE">Sale</option>
                                    <option value="TRENDING">Trending</option>
                                    <option value="Latest">Latest</option>
                                    <option value="Price: low to high">Price: low to high</option>
                                    <option value="Price: high to low">Price: high to low</option>
                                </select>
                            </form>
                        </div>
                        <div class="ps-categogy__show">
                            <form><span>Show</span>
                                <select class="form-select">
                                    <option selected="">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                    <option value="48">48</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="ps-categogy--grid">
                        <div class="row m-0">
                            {% for prod in product%}
                            <div class="col-6 col-lg-4 col-xl-3 p-0">
                                <div class="ps-product ps-product--standard">
                                    <div class="ps-product__thumbnail"><a class="ps-product__image" href="/product/{{prod.slug}}">
                                            <figure><img src="/{{prod.image}}" alt="alt">
                                            </figure>
                                        </a>
                                        <div class="ps-product__actions">
                                            
                                            <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="" data-original-title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview-{{forloop.counter}}"><i class="fa fa-search"></i></a></div>
                                            <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to cart"><a href="#" data-toggle="modal" data-target="#popupAddcart"><i class="fa fa-shopping-basket"></i></a></div>
                                        </div>
                                        <div class="ps-product__badge">
                                        </div>
                                    </div>
                                    <div class="ps-product__content"><a class="ps-product__branch" href="#">&#8377;{{prod.categories}}</a>
                                        <h5 class="ps-product__title"><a href="product1.html">{{prod.name}}</a></h5>
                                        <div class="ps-product__meta"><span class="ps-product__price sale">&#8377;{{prod.varient_set.first.price}}</span><span class="ps-product__del">&#8377;{{prod.price}}</span>
                                        </div>
                                      
                                        <div class="ps-product__desc">
                                            <ul class="ps-product__list">
                                                <li>Study history up to 30 days</li>
                                                <li>Up to 5 users simultaneously</li>
                                                <li>Has HEALTH certificate</li>
                                            </ul>
                                        </div>
                                        <div class="ps-product__actions ps-product__group-mobile">
                                            <div class="ps-product__quantity">
                                                <div class="def-number-input number-input safari_only">
                                                    <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><i class="icon-minus"></i></button>
                                                    <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                    <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><i class="icon-plus"></i></button>
                                                </div>
                                            </div>
                                            <div class="ps-product__cart"> <a class="ps-btn ps-btn--warning" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a></div>
                                            <div class="ps-product__item cart" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to cart"><a href="#"><i class="fa fa-shopping-basket"></i></a></div>
                                            <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="" data-original-title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                            <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to compare"><a href="compare.html"><i class="fa fa-align-left"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           {% endfor %}
                        </div>
                    </div>
                    <div class="ps-pagination">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                    <div class="ps-delivery" data-background="img/promotion/banner-delivery-2.jpg" style="background-image: url(&quot;img/promotion/banner-delivery-2.jpg&quot;);">
                        <div class="ps-delivery__content">
                            <div class="ps-delivery__text"> <i class="icon-shield-check"></i><span> <strong>100% Secure delivery </strong>without contacting the courier</span></div><a class="ps-delivery__more" href="#">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="ps-widget ps-widget--product">
                        <div class="ps-widget__block">
                            <h4 class="ps-widget__title">Categories</h4><a class="ps-block-control" href="#"><i class="fa fa-angle-down"></i></a>
                            <div class="ps-widget__content ps-widget__category">
                                <ul class="menu--mobile">
                                    <li><a href="/product/">All Products</a></li>

                                    {% for cat in categories %}
                                    <li><a href="/product/?categories={{cat.id}}">{{cat.name}}</a></li>
                                   {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="ps-widget__block">
                            <h4 class="ps-widget__title">Brands</h4><a class="ps-block-control" href="#"><i class="fa fa-angle-down"></i></a>
                            <div class="ps-widget__content">
                                {% for b in brand %}
                                <div class="ps-widget__item">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="{{b.name}}">
                                        <label class="custom-control-label" for="{{b.name}}">{{b.name}}</label>
                                    </div>
                                </div>
                               {% endfor %}
                            </div>
                        </div>
                        <div class="ps-widget__promo"><img src="/static/img/banner-sidebar1.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block contentScript %}

{% comment %} my script here {% endcomment %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get a reference to the select element
        const select = document.getElementById('sort-select');

        // Retrieve the stored selection from localStorage
        const storedSelection = localStorage.getItem('selectedSort');

        // Set the selected option if a value is found in localStorage
        if (storedSelection) {
            select.value = storedSelection;
        }

        // Add an event listener for changes to the select element
        select.addEventListener('change', function () {
            // Get the selected option's value
            const selectedValue = select.value;

            // Store the selected value in localStorage
            localStorage.setItem('selectedSort', selectedValue);

            // Create a new URL with the selected sorting option
            const currentURL = window.location.href;
            const newURL = new URL(currentURL);

            // Set the sorting option as a query parameter
            newURL.searchParams.set('sort', selectedValue);

            // Redirect to the new URL
            window.location.href = newURL.toString();
        });
    });
</script>
{% endblock%}
