<!DOCTYPE html>
<html lang="en">

<head>
    {% include "./head.html" %}
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="ps-page">
        {% include "./header1.html" %}       
        
            {% block content %}
            {% endblock %}
            
        
        {% include "./footer.html" %}
    </div>
    {% include "./slidebar.html" %}
    
    {% include "./slidebar.html" %}    
    <button class="btn scroll-top"><i class="fa fa-angle-double-up"></i></button>
    <div class="ps-preloader" id="preloader">
        <div class="ps-preloader-section ps-preloader-left"></div>
        <div class="ps-preloader-section ps-preloader-right"></div>
    </div>
    
    {% include "./modal.html" %}
    {% include "./script.html" %}
    {% block contentScript %}
   
    {% endblock %}
</body>

</html>