    {% block head %}
    {% endblock %}
    <meta charset="utf-8">
    

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link  href="/static/img/favicon.png" rel="apple-touch-icon-precomposed">
    <link  href="/static/img/favicon.png" rel="shortcut icon" type="image/png">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/Linearicons/Font/demo-files/demo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:400,500,600,700&amp;display=swap&amp;ver=1607580870">
    <link rel="stylesheet"  href="/static/plugins/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet"  href="/static/plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet"  href="/static/plugins/slick/slick/slick.css">
    <link rel="stylesheet"  href="/static/plugins/lightGallery/dist/css/lightgallery.min.css">
    <link rel="stylesheet"  href="/static/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet"  href="/static/plugins/select2/dist/css/select2.min.css">
    <link rel="stylesheet"  href="/static/plugins/lightGallery/dist/css/lightgallery.min.css">
    <link rel="stylesheet"  href="/static/plugins/noUiSlider/nouislider.css">
    <link rel="stylesheet"  href="/static/css/style.css">
    <link rel="stylesheet"  href="/static/css/home-2.css">
    <style>
        .login-text{
            color: #171717;
            font-size: 17px;
            font-weight: 400;
        }
        .login-name{
            font-size : 18px;
            font-weight:600;
        }
        .show{
            display:block;
        }
        .hide{
            display:none;
        }
    </style>
   
 