<script src="/static/plugins/jquery.min.js"></script>
<script src="/static/plugins/popper.min.js"></script>
<script src="/static/plugins/bootstrap4/js/bootstrap.min.js"></script>
<script src="/static/plugins/select2/dist/js/select2.full.min.js"></script>
<script src="/static/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="/static/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="/static/plugins/lightGallery/dist/js/lightgallery-all.min.js"></script>
<script src="/static/plugins/slick/slick/slick.min.js"></script>
<script src="/static/plugins/noUiSlider/nouislider.min.js"></script>
<script src="/static/plugins/noUiSlider/nouislider.min.js"></script>
<script src="/static/plugins/slick/slick/slick.min.js"></script>
<!-- custom code-->
<script src="/static/js/main.js"></script>
{% comment %} 
<script>
  var cartElement = document.getElementById("cart");
  console.log("working");
  if (localStorage.getItem("cart") == null) {
    var cart = {};
    cartElement.style.display = "none";
  } else {
    cart = JSON.parse(localStorage.getItem("cart"));
    cartElement.innerHTML = Object.keys(cart).length;
    cartElement.style.display = "block";
    updateCart(cart);
  }

  function updateCart(cart) {
    for (var item in cart) {
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    console.log(cart);
}
  $(".cart").on("click", function (event) {
    event.preventDefault();
    console.log("clicked");
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] != undefined) {
      cart[idstr] = cart[idstr] + 1;
    } else {
      cart[idstr] = 1;
    }
    updateCart(cart);
    console.log(cart);
    localStorage.setItem("cart", JSON.stringify(cart));
    
  });

  // If plus or minus button is clicked, change the cart as well as the display value
$('.divpr').on("click", "button.minus", function() {
    a = this.id.slice(7, );
    cart['pr' + a] = cart['pr' + a] - 1;
    cart['pr' + a] = Math.max(0, cart['pr' + a]);
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
    updateCart(cart);
});
$('.divpr').on("click", "button.plus", function() {
    a = this.id.slice(6, );
    cart['pr' + a] = cart['pr' + a] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
    updateCart(cart);
});
</script> {% endcomment %}

<script>

  var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
  function calculateSubtotals() {
      var totalSubtotal = 0;
      
      // Iterate through each item in the cart and calculate the subtotal
      {% for key, value in request.session.cart.items %}
      var price = {{ value.price }}; // Get the price from the server-side context
      var quantity = {{ value.quantity }}; // Get the quantity from the server-side context
      var subTotal = price * quantity;
      
      // Add current subtotal to the totalSubtotal variable
      totalSubtotal += subTotal;
      
      // Update the corresponding sub-total element with the calculated subtotal value
      $('.sub-total-{{ value.product_id }}').html("&#8377;" + subTotal);
      {% endfor %}
      
      console.log(totalSubtotal);
      // Update the total subtotal in the element with id 'subtotal'
      $('.subtotal').html("Total: &#8377;" + totalSubtotal);
      $('#total').html("Total: &#8377;" + totalSubtotal);
  }

  
  $(document).ready(function() {
      // Call the function when the document is ready
      calculateSubtotals();
   $(".notification").fadeOut();

  });
  

  // Plus
  $('.plus').on('click', function() {
      var itemId = $(this).data('id');
      $.ajax({
          type: 'POST',
          url: '/cart/item_increment/' + itemId + '/',
          dataType: 'json',
          data: {
              csrfmiddlewaretoken: csrfToken  // Include the CSRF token in the data
          },
          success: function(response) {
              if (response.success) {

                  // Update the displayed quantity on the page
                  $('#quantity-' + itemId).val(response.new_quantity);
                  $('.total-quantity').text(response.total_quantity);
                  $('.subtotal').html("Total: &#8377;" + response.total_subtotal);
                  $('#total').html("Total: &#8377;" + response.total_subtotal);
                  
                  

              } else {
                  // Handle error if needed
                  console.log('Error occurred during incrementing item quantity.');
              }
          },
          error: function(xhr, textStatus, error) {
              // Handle AJAX error if needed
              console.log('AJAX request failed: ' + error);
          }
      });
  });

  // minus
  $('.minus').on('click', function() {
      var itemId = $(this).data('id');
      $.ajax({
          type: 'POST',
          url: '/cart/item_decrement/' + itemId + '/',
          dataType: 'json',
          data: {
              csrfmiddlewaretoken: csrfToken  // Include the CSRF token in the data
          },
          success: function(response) {
              if (response.success) {
                  // Update the displayed quantity on the page
                  $('#quantity-' + itemId).val(response.new_quantity);
                  $('.total-quantity').text(response.total_quantity);
                  $('#sub-total-' + itemId).html("&#8377;" + response.sub_total);
                  $('.subtotal').html("Total: &#8377;" + response.total_subtotal);             
                  $('#total').html("Total: &#8377;" + response.total_subtotal);
                  
              } else {
                  // Handle error if needed
                  console.log('Error occurred during decreasing item quantity.');
              }
          },
          error: function(xhr, textStatus, error) {
              // Handle AJAX error if needed
              console.log('AJAX request failed: ' + error);
          }
      });
  });

  $('.clear-all').on('click', function() {
      $.ajax({
          type: 'POST',
          url: '/cart/cart_clear/',
          dataType: 'json',
          data: {
              csrfmiddlewaretoken: csrfToken  // Include the CSRF token in the data
          },
          success: function(response) {
              if (response.success) {

                  // Update the displayed quantity on the page
                  $('#cart-body').remove();
                  $('#total').html("Total: &#8377;" + 0)    ;
                  $('.subtotal').html("Total: &#8377;" + 0);             

              } else {
                  // Handle error if needed
                  console.log('Error occurred during incrementing item quantity.');
              }
          },
          error: function(xhr, textStatus, error) {
              // Handle AJAX error if needed
              console.log('AJAX request failed: ' + error);
          }
      });
  });

  $('.clear-item').on('click', function(event) {
      event.preventDefault();
      var itemId = $(this).data('id');
      console.log(itemId)
      $.ajax({
          type: 'POST',
          url: '/cart/item_clear/' + itemId + '/',
          dataType: 'json',
          data: {
              csrfmiddlewaretoken: csrfToken  // Include the CSRF token in the data
          },
          success: function(response) {                
              if (response.success) {
                  // Handle success, e.g., remove the item from the cart UI
                  $('#cart-item-' + itemId).remove();
                  $('.subtotal').html("Total: &#8377;" + response.total_subtotal);
                  $('#total').html("Total: &#8377;" + response.total_subtotal);
              } else {
                  // Handle error if needed
                  console.log('Error occurred while clearing item.');
              }
          },
          error: function(xhr, textStatus, error) {
              // Handle AJAX error if needed
              console.log('AJAX request failed: ' + error);
          }
      });
  });

  $('.add-to-cart').on('click', function(event) {
    event.preventDefault();
    var id = $(this).data('id');
    console.log(id);
    if ($('.ps-product__feature-group').length > 0) {
    var variant =$('.variant.active').data('value');}
    else variant = null;
    console.log(variant);
    //var variant = getParameterByName('variant'); // Get the variant value from the URL
    $.ajax({
        type: 'POST',
        url: '/cart/add/' + id + '/'+ variant + '/' ,
        dataType: 'json',
        data: {
            variant: variant, // Include the variant value in the data
            csrfmiddlewaretoken: csrfToken  // Include the CSRF token in the data
        },
        success: function(response) {                
            if (response.success) {
                // Handle success, e.g., remove the item from the cart UI               
                $('.total-quantity').html(response.item);
                $('.subtotal').html("Total: &#8377;" + response.total_subtotal);   
                
                // Show the notification
                $(".notification").fadeIn();
                
                // Hide the notification after 2 seconds
                setTimeout(function(){
                    $(".notification").fadeOut();
                }, 1000); // 10000 milliseconds = 2 seconds
            } else {
                // Handle error if needed
                console.log('Error occurred while adding item.');
            }
        },
        error: function(xhr, textStatus, error) {
            // Handle AJAX error if needed
            console.log('AJAX request failed: ' + error);
        }
    });
});
{% comment %} 
$('.proceed-to-checkout').on('click', function(event) {
    event.preventDefault();
    //var itemId = $(this).data('id');
    var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "create_order" %}', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    // Handle the API response here, for example, redirect to the provided URL
                    window.location.href = response.redirect_url;
                } else {
                    // Handle error response
                    console.error('Error creating order:', xhr.status);
                }
            }
        };

        // Prepare the JSON payload
        var payload = {
            "key": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
            "client_txn_id": "0123456789",
            "amount": "100",
            "p_info": "Product Name",
            "customer_name": "Jon Doe",
            "customer_email": "jondoe@gmail.com",
            "customer_mobile": "9876543210",
            "redirect_url": "http://google.com",
            "udf1": "user defined field 1",
            "udf2": "user defined field 2",
            "udf3": "user defined field 3"
        };

        // Send the request with the JSON payload
        xhr.send(JSON.stringify(payload));
}); {% endcomment %}
{% comment %} 
document.getElementById('checkoutButton').addEventListener('click', function() {
    // Make AJAX request when the button is clicked
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{% url "create_order" %}', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                // Handle the API response here, for example, redirect to the provided URL
                window.location.href = response.redirect_url;
            } else {
                // Handle error response
                console.error('Error creating order:', xhr.status);
            }
        }
    };



    // Prepare the JSON payload
    var payload = {
        "key": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
        "client_txn_id": "0123456789",
        "amount": "100",
        "p_info": "Product Name",
        "customer_name": "Jon Doe",
        "customer_email": "jondoe@gmail.com",
        "customer_mobile": "9876543210",
        "redirect_url": "http://google.com",
        "udf1": "user defined field 1",
        "udf2": "user defined field 2",
        "udf3": "user defined field 3"
    };

    // Send the request with the JSON payload
    xhr.send(JSON.stringify(payload));
}); {% endcomment %}



$(document).ready(function() {
    // Check if .ps-product__feature-group element exists
    if ($('.ps-product__feature-group').length > 0) {
        // Add 'active' class to the first .variant element
        $('.variant:first').addClass('active');
        $('.add-to-cart').attr('data-value', '2');
        $('.minus').attr('data-value', '2');
        $('.plus').attr('data-value', '2');
    }
    
   


    $('.variant').on('click', function(event) {
        event.preventDefault();        
        var value = $(this).data('value');
        var id = $(this).data('id');

        
        $('.add-to-cart').attr('data-value', `${value}`);
        $('.add-to-cart').attr('data-id', `${id}`);
        
        console.log(value);

        // Add your logic here for handling the click event
    });
});

function getParameterByName(name, url) {
    if (!url) {
        url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

</script>