<div class="ps-menu--slidebar">
    <div class="ps-menu__content">
        <ul class="menu--mobile">
           
                                            
            {% for category, products in grouped_menu.items %}
            {% if products %}
            <li class="menu-item-has-children"><a href="#">{{ category.name }}</a><span class="sub-toggle"><i class="fa fa-chevron-down"></i></span>
                <ul class="sub-menu">
                    {% for product in products %}
                    <li><a href="/product/{{ product.slug }}">{{ product.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
            <li class="menu-item-has-children"><a href="/about-us/">About us</a></li>
           
            <li class="menu-item-has-children"><a href="/blog/">Blog</a></li>
            <li class="menu-item-has-children"><a href="/contact-us/">Contact</a></li>
        </ul>
    </div>
    <div class="ps-menu__footer">
        
        <div class="ps-menu__item">
            <div class="ps-menu__contact">Need help? <strong>0020 500 - MYMEDI - 000</strong></div>
        </div>
    </div>
</div>
 
<div class="ps-navigation--footer">
    <div class="ps-nav__item"><a href="#" id="open-menu"><i class="icon-menu"></i></a><a href="#" id="close-menu"><i class="icon-cross"></i></a></div>
    <div class="ps-nav__item"><a href="/"><i class="icon-home2"></i></a></div>

    <div class="ps-nav__item">
        {% if user.is_authenticated %}
        <a href="/logout/"><i class="icon-user-minus"></i></a>
        {% else %}
        <a href="/login/"><i class="icon-user"></i></a>
        {% endif %}
    </div>
    {% with cart_length=request.session.cart|length %}
    <div class="ps-nav__item"><a href="/cart/cart-detail/"><i class="icon-cart-empty"></i>{% if cart_length > 0 %}<span class="badge">{{ cart_length }}</span>{% endif %}</a></div>
    {% endwith %}
</div>